@model PhanHongYenQuynh_2080600991.ViewModels.FollowViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>
<div class="row">
    <ul class="course">
        @foreach (var course in Model.FollowingUser)
        {
            <li>
                <h4>@course.Name</h4>
            </li>
        }
    </ul>
    @section scripts
    {
        <script>
            $(document).ready(function() {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });

                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                });
            });
        </script>
    }
</div>
